body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    
    margin-top: 100px;
    padding: 25p;
    font-family: cursive;
  }
  
  input {
    width: 150px;
    padding: 10px;
    margin: 5px;
    font-family: fantasy;
    color: rgb(71, 32, 32);
    font-size: 33px;
  }
  